.about {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
}

.bg {
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.aboutContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width:840px) {
    .bg {
        right: -10vw;
    }
    
    .aboutContent {
        font-size: 10vw;
    }
}